version: "3"
services:
  survival:
    image: itzg/minecraft-server
    hostname: survival
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - survival-data:/data
      - ./plugins-server:/plugins:ro
      - ./config-server/spigot.yml:/data/spigot.yml
  creative:
    image: itzg/minecraft-server
    hostname: creative
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - creative-data:/data
      - ./config-server/spigot.yml:/data/spigot.yml
  proxy:
    hostname: proxy
    image: itzg/mc-proxy
    networks:
      - mc-network
    environment:
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Powered by Docker
      REPLACE_ENV_VARIABLES: "true"
      ENABLE_RCON: "true"
      RCON_PORT: "25577"
      RCON_HOST: "localhost"
      RCON_PASSWORD: "RCON_PASSWORD"
    ports:
      - "25565:25577"
    volumes:
      - ./config.yml:/config/config.yml
      - proxy-data:/server
      - ./plugins-bungee:/plugins:ro

volumes:
  survival-data:
  creative-data:
  proxy-data:
  plugins-data:

networks:
  mc-network:
    driver: bridge
