version: "3"
services:
  survival:
    build:
      context: ./images/survival
      dockerfile: Dockerfile
    hostname: survival
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - survival-data:/data # Volume
      - ./images/survival/spigot.yml:/data/spigot.yml
      - ./images/survival/plugins:/plugins
  creative:
    build:
      context: ./images/creative
      dockerfile: Dockerfile
    hostname: creative
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - creative-data:/data
      - ./images/creative/spigot.yml:/data/spigot.yml
      - ./images/creative/plugins:/plugins
  proxy:
    hostname: proxy
    build:
      context: ./images/proxy
      dockerfile: Dockerfile
    networks:
      - mc-network
    environment:
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Powered by Docker
      REPLACE_ENV_VARIABLES: "true"
      ENABLE_RCON: "true"
      RCON_PORT: "25577"
      RCON_HOST: "localhost"
      RCON_PASSWORD: "RCON_PASSWORD"
    volumes:
      - proxy-data:/server
      - ./images/proxy/plugins:/plugins
      - ./images/proxy/config.yml:/server/config.yml

volumes:
  survival-data:
  creative-data:
  proxy-data:

networks:
  mc-network:
    driver: bridge
