version: "3"
services:
  survival:
    build:
      context: ./server-image
      dockerfile: Dockerfile
    hostname: survival
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - survival-data:/data # Volume
      - ./server-image/plugins-server:/plugins:ro
      - ./server-image/config-server:/data:ro
  creative:
    build:
      context: ./server-image
      dockerfile: Dockerfile
    hostname: creative
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - creative-data:/data
      - ./server-image/plugins-server:/plugins:ro
      - ./server-image/config-server:/data:ro
  proxy:
    hostname: proxy
    build:
      context: ./proxy-image
      dockerfile: Dockerfile
    networks:
      - mc-network
    environment:
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Powered by Docker
      REPLACE_ENV_VARIABLES: "true"
      ENABLE_RCON: "true"
      RCON_PORT: "25577"
      RCON_HOST: "localhost"
      RCON_PASSWORD: "RCON_PASSWORD"
    volumes:
      - proxy-data:/server
      - ./proxy-image/config-bungee:/server:ro
      - ./proxy-image/plugins-bungee:/plugins:ro

volumes:
  survival-data:
  creative-data:
  proxy-data:

networks:
  mc-network:
    driver: bridge
