version: "3"
services:
  survival:
    build:
      context: ./images/server-common
      dockerfile: Dockerfile
      args:
        - SERVER_BASE=images/survival-base
    hostname: survival
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - survival-data:/data
  creative:
    build:
      context: ./images/server-common
      dockerfile: Dockerfile
      args:
        - SERVER_BASE=images/creative-base
    hostname: creative
    networks:
      - mc-network
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
      TYPE: "SPIGOT"
    volumes:
      - creative-data:/data
  proxy:
    hostname: proxy
    build:
      context: ./images/proxy
      dockerfile: Dockerfile
    networks:
      - mc-network
    environment:
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Powered by Docker
      REPLACE_ENV_VARIABLES: "true"
      ENABLE_RCON: "true"
      RCON_PORT: "25575"
      RCON_HOST: "localhost"
      RCON_PASSWORD: "RCON_PASSWORD"
    volumes:
      - proxy-data:/server

volumes:
  survival-data:
  creative-data:
  proxy-data:

networks:
  mc-network:
    driver: bridge
