version: "3"

x-luckperms-db-vars: &db-vars
  LUCKPERMS_ADDRESS: db
  LUCKPERMS_DATABASE: mc
  LUCKPERMS_USERNAME: ${DB_USER}
  LUCKPERMS_PASSWORD: ${DB_PASSWORD}
  LUCKPERMS_MESSAGING_SERVICE: bungee

x-server-common-variables: &server-common-vars
  EULA: "TRUE"
  ONLINE_MODE: "FALSE"
  TYPE: "SPIGOT"
  TZ: "Europe/Paris"

services:
  survival:
    build:
      context: ./images/server-common
      dockerfile: Dockerfile
      args:
        - SERVER_BASE=images/survival-base
    hostname: survival
    networks:
      - mc-network
    environment:
      LUCKPERMS_SERVER: survival
      <<: [*server-common-vars, *db-vars]
    volumes:
      - survival-data:/data
    depends_on:
      - proxy
  creative:
    build:
      context: ./images/server-common
      dockerfile: Dockerfile
      args:
        - SERVER_BASE=images/creative-base
    hostname: creative
    networks:
      - mc-network
    environment:
      LUCKPERMS_SERVER: creative
      <<: [*server-common-vars, *db-vars]
    volumes:
      - creative-data:/data
    depends_on:
      - proxy
  proxy:
    hostname: proxy
    build:
      context: ./images/proxy
      dockerfile: Dockerfile
    networks:
      - mc-network
    environment:
      BUNGEE_JAR_REVISION: "1"
      CFG_MOTD: Powered by Docker
      REPLACE_ENV_VARIABLES: "true"
      ENABLE_RCON: "true"
      RCON_PORT: "25575"
      RCON_HOST: "localhost"
      RCON_PASSWORD: "RCON_PASSWORD"
      LUCKPERMS_SERVER: proxy
      <<: *db-vars
    volumes:
      - proxy-data:/server

volumes:
  survival-data:
  creative-data:
  proxy-data:
  db-data:

networks:
  mc-network:
    driver: bridge
    external: true
